<p>test works?</p>

<button (click)="login()">login</button>

<button (click)="datacenters()">datacenters</button>

<button (click)="ErrorsPerCenter()">Get Errors Per center</button>

<table>
    <tr *ngFor="let center of Datacenters.data">
      <td>{{ center.id }}</td>
      <td>{{ center.inIsolation }}</td>
      <td>{{ center.location.lat }}</td>
      <td>{{ center.location.lng }}</td>
      <td>{{ center.name }}</td>
      <td>{{ center.provider }}</td>
    </tr>
  </table>

  <table>
    <tr *ngFor="let error of Errors.data">
      <td>{{ error.createdAt }}</td>
      <td>{{ error.datacenterId }}</td>
      <td>{{ error.errorTypeId }}</td>
      <td>{{ error.errorTypeLabel }}</td>
      <td>{{ error.id }}</td>
    </tr>
  </table>