<p-dataView [value]="datacenters" layout="grid">
    <ng-template let-item pTemplate="gridItem">
        <div class="p-col-12 p-md-3">
            <p-card>
                <div class="p-col">
                    <div class="p-row">
                        <img alt="Card" width="100" height="100" src="../../../assets/datacenter.png">
                    </div>
                    <div class="p-row">
                        {{item.name}}
                    </div>
                </div>
            </p-card> 
        </div>
    </ng-template>
</p-dataView>